# 595. Big Countries

There is a table World

+-----------------+------------+------------+--------------+---------------+
| name            | continent  | area       | population   | gdp           |
+-----------------+------------+------------+--------------+---------------+
| Afghanistan     | Asia       | 652230     | 25500100     | 20343000      |
| Albania         | Europe     | 28748      | 2831741      | 12960000      |
| Algeria         | Africa     | 2381741    | 37100000     | 188681000     |
| Andorra         | Europe     | 468        | 78115        | 3712000       |
| Angola          | Africa     | 1246700    | 20609294     | 100990000     |
+-----------------+------------+------------+--------------+---------------+
A country is big if it has an area of bigger than 3 million square km or a population of more than 25 million.

Write a SQL solution to output big countries' name, population and area.

For example, according to the above table, we should output:

+--------------+-------------+--------------+
| name         | population  | area         |
+--------------+-------------+--------------+
| Afghanistan  | 25500100    | 652230       |
| Algeria      | 37100000    | 2381741      |
+--------------+-------------+--------------+

In [ ]:
# create a table using pandas dataframe
import pandas as pd
world = {'name': ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola'],
         'continent': ['Asia', 'Europe', 'Africa', 'Europe', 'Africa'],
         'area': ['652230', '28748', '2381741','468', '1246700'],
         'population': ['25500100', '2831741', '37100000', '78115', '20609294'],
         'gdp': ['20343000', '12960000', '188681000', '3712000', '100990000']}
df = pd.Data